.cube-container {
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-perspective: 800px;
  border: 2px solid black;

}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-100px);

  animation: rotate 5s infinite linear;
  animation-fill-mode: forwards;
}

#cube figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 196px;
  height: 196px;
  border: 2px solid lightgrey;
  opacity: 0.3;

  font-size: 50px;
  color: white;
  vertical-align: middle;
  text-align: center;
  line-height: 200px;
  /*transform: translateX(100px);*/
  /*border: 5px solid black;*/
}


#cube .front {
  transform: rotateY(0deg) translateZ(100px);
  background-color: blue;
}

#cube .back {
  transform: rotateX(180deg) translateZ(100px);
  background-color: green;
}

#cube .left {
  transform: rotateY(90deg) translateZ(100px);
  background-color: black;
}

#cube .right {
  transform: rotateY(-90deg) translateZ(100px);
  background-color: purple;

}

#cube .top {
  transform: rotateX(90deg) translateZ(100px);
  background-color: yellow;

}

#cube .bottom {
  transform: rotateX(-90deg) translateZ(100px);
  background-color: pink;
}

#cube:hover .front {
  animation: expand-front;
  animation-fill-mode: forwards;

}

#cube:hover .back {
  animation: expand-back;
  animation-fill-mode: forwards;

}

#cube:hover .left {
  animation: expand-left;
  animation-fill-mode: forwards;

}

#cube:hover .right {
  animation: expand-right;
  animation-fill-mode: forwards;

}

#cube:hover .top {
  animation: expand-top;
  animation-fill-mode: forwards;

}

#cube:hover .bottom {
  animation: expand-bottom;
  animation-fill-mode: forwards;

}


@keyframes rotate {
  from { transform: rotateX(0) rotateY(0) rotateZ(0); }
  to { transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}

@keyframes expand-front {
  from { transform: rotateY(0) translateZ(100px); }
  to { transform: rotateY(0) translateZ(200px); }
}

@keyframes expand-back {
  from { transform: rotateY(180deg) translateZ(100px)}
  to { transform: rotateY(180deg) translateZ(200px)}
}

@keyframes expand-left {
  from { transform: rotateY(90deg) translateZ(100px)}
  to { transform: rotateY(90deg) translateZ(200px)}
}

@keyframes expand-right {
  from { transform: rotateY(-90deg) translateZ(100px)}
  to { transform: rotateY(-90deg) translateZ(200px)}
}

@keyframes expand-top {
  from { transform: rotateX(90deg) translateZ(100px)}
  to { transform: rotateX(90deg) translateZ(200px)}
}

@keyframes expand-bottom {
  from { transform: rotateX(-90deg) translateZ(100px)}
  to { transform: rotateX(-90deg) translateZ(200px)}
}
