#transition-header {
  font-size: 45px;
  padding-top: 50px;
  color: #383838;
  margin-bottom: 0;
}

.transition-effect-section {
  padding-bottom: 100px;
}
.transitions {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
/* * * * * * V E R T I C A L  F L I P * * * * * */
.card-vertical-container {
  width: 200px;
  height: 260px;
  margin-right: 15px;
  position: relative;
  -webkit-perspective: 800px;
}

#card-vertical {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card-vertical figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  text-align: center;
  line-height: 260px;
  vertical-align: middle;
  font-size: 50px;
  color: white;
}

#card-vertical .front {
  background: lightgrey;
  border: 2px dotted #3e3e3e;

  opacity: 0.8;
}

#card-vertical .back {
  background: #3e3e3e;
  border: 2px dotted white;
  color: white;
  opacity: 0.8;
  /*transform: translateX(-100%) rotateY(-180deg);*/
  transform: rotateY(180deg);
}

.card-vertical-container #card-vertical:hover {
  transform: rotateY(180deg);
}

/* * * * * * * * * * * * * * * * * * * * * * * */


/* * * * * * H O R I Z O N T A L  F L I P * * * * * */
.card-horizontal-container {
  margin-left: 15px;
  width: 200px;
  height: 260px;
  position: relative;
  -webkit-perspective: 800px;
}

#card-horizontal {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card-horizontal figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  text-align: center;
  line-height: 260px;
  vertical-align: middle;
  font-size: 50px;
  color: white;


  /*-webkit-transform-origin: right;*/
}

#card-horizontal .front {
  background: lightgrey;
  border: 2px dotted #3e3e3e;
  opacity: 0.8;
}

#card-horizontal .back {
  background: #3e3e3e;
  border: 2px dotted white;
  color: white;
  opacity: 0.8;
  /*transform: translateX(-100%) rotateY(-180deg);*/
  transform: rotateY(180deg);
}

.card-horizontal-container #card-horizontal:hover {
  transform: rotateX(-180deg);
}

/* * * * * * * * * * * * * * * * * * * * * * * */
